.dashboard {

  .project-creation {

    .project-creation-row {

      .ant-col-4 {
        width: auto;
      }
    }
  }

  .profile {
    .header-profile {
    }
    .ant-row {
      padding-top: 10px;
    }

    .ant-card-head {
      border-bottom: none;
    }

    .ant-card-body {
      padding-top: 10px;
    }

    .ant-divider {
      display: inline-block;
      margin: 20px 0 10px 0
    }

    .ant-form-item {
      margin-bottom: 0;
    }
    .ant-col-9 {
      width: 250px;
      margin-right: 15px;
    }

    .contact-information {
      .ant-col-3 {
        width: auto;
      }

      .ant-avatar {
        height: 40px;
        width: 40px;
      }
    }

    .project-list {

      .ant-card {
        display: inline-block;
        width: 19%;
      }

      li {
        margin: auto;
      }
    }
    //.contact-information {
    //  .ant-col-12{
    //    width: auto;
    //    margin-right: 15px;
    //  }
    //}
  }

  .settings {
    .ant-row {
      margin-top: 15px;

      .ant-col-2 {
        width: auto;
      }
    }
  }

  .project-profile {

    li {
      padding-left: 15px;
    }
    .ant-menu-item {
      margin-bottom: auto;
    }
  }

  //actual-project
  .actual-project {

    .card-project {

      margin: 25px;
      .ant-avatar-lg {
        width: 90px;
        height: 90px;
        border-radius: 10%;
        left: 40%;
      }
    }
  }
  .task-project-list {

    .demo-infinite-container {
      border: 1px solid #e8e8e8;
      border-radius: 4px;
      overflow: auto;
      padding: 8px 24px;
      max-height: 700px;

    }

    .col-4 {
      .col-md-3 {
        max-width: 300px;
      }
    }

    .demo-loading {
      position: absolute;
      bottom: -40px;
      left: 50%;
    }

    .col-sm-4 {
      max-width: 300px;
      min-width: 150px;
    }

    .ant-tabs-tab-active {
      background: #F0FFFF;
    }

    .ant-tabs-tab {
      margin: 0;
      padding: 6px 21px;
    }

    .filter-panel {
      display: inherit;
      margin-bottom: 30px;

      .anticon-search {
        left: auto;
        position: initial;
      }
    }

    .ant-tabs-content {
      border: none;
    }

  }

  .task {
    .header-project-task {
      .ant-avatar-lg {
        width: 60px;
        height: 60px;
        line-height: 40px;
        border-radius: 50%;
        margin-bottom: 20px;
      }

      .project-title {
        display: inline-block;
        margin-left: 5px;
      }
    }

    .task-project-list {
      .col-sm-8 {
        flex: 2 0 74.666667%;
        max-width: 76.666667%;
      }
    }
  }

  .project-settings-user {
    i {
      color: red;
    }
    i:hover {
      color: #8B0000;
    }
  }

  .indent-p-block {
    .filter {
      margin-left: 10px;
      font-size: 18px;
      display: inline-block;
      cursor: pointer;
      i:hover {
        color: #40a9ff;
      }
    }

    .list-message-container {

      margin-top: 10px;

      .ant-list-item {
        padding: 5px 0;

        .ant-list-item-meta-title {
          margin: auto;
        }
      }

      .ant-list-item-meta-avatar {
        margin-right: 8px;
      }
      .ant-avatar {
        border-radius: initial;
        padding: initial;
        margin: 5px;
      }
      .ant-checkbox {
        margin-top: -23px;
      }

      .header-list {
        height: 25px;
        border: 1px solid #5a7f97;
        background: #7192a8;
        color: white;
      }
      .chat-message-title {
        margin-top: 5px;
        display: inline-block;
        margin-left: 5px;

        .title {
          vertical-align: bottom;
          a {
            vertical-align: bottom;
          }
        }

        .last-your-message {
          display: block;
        }
      }
      .ant-list-item-content {
        display: initial;
      }
    }
  }

  .chat-page {
    .ant-list-item-content {
      display: initial;
      border: 1px solid #e8e8e8;
    }
    .ant-list-item {
      border: none;
      padding: auto;
    }

    .col-0 {
      width: 120px;
      margin-left: 14px;
      text-align: center;
    }

    .ant-avatar {
      width: 80px;
      height: 80px;
      border-radius: initial;
    }
    .ant-divider {
      height: initial;
    }

    .chat-header {
      height: 21px;
      background: #DCDCDC;
      cursor: pointer;

      .show-icon-touched {
        float: right;
        i {
          color: #40a9ff;
        }
      }
    }
    .fixed-message {
      .anticon-check-circle {
        color: green;
      }
    }
    .actual-message {
      height: 87%;
      display: inline-block;
    }

    .active-message {
      background: #ccc;
    }
  }

  .form-add-message{
    margin-top: 10px;
  }

}