.dashboard {

  .project-creation {

    .creation-form {
      text-align: center;
    }
    .project-creation-row {

      .ant-col-4 {
        width: auto;
      }
    }
  }

  .profile {
    .header-profile {
    }
    .ant-row {
      padding-top: 10px;
    }

    .ant-card-head {
      border-bottom: none;
    }

    .ant-card-body {
      padding-top: 10px;
    }

    .ant-divider {
      display: inline-block;
      margin: 20px 0 10px 0
    }

    .ant-form-item {
      margin-bottom: 0;
    }
    .ant-col-9 {
      width: 250px;
      margin-right: 15px;
    }

    .contact-information {
      .ant-col-3 {
        width: auto;
      }

      .ant-avatar {
        height: 40px;
        width: 40px;
      }
    }

    .project-list {

      .ant-card {
        display: inline-block;
        width: 19%;
      }

      li {
        margin: auto;
      }
    }
    //.contact-information {
    //  .ant-col-12{
    //    width: auto;
    //    margin-right: 15px;
    //  }
    //}
  }

  .settings {
    .ant-row {
      margin-top: 15px;

      .ant-col-2 {
        width: auto;
      }
    }
  }

  .project-profile {

    li {
      padding-left: 15px;
    }
    .ant-menu-item {
      margin-bottom: auto;
    }
  }

  //actual-project
  .actual-project {

    .add-user {
      display: inline-block;
      float: right;
    }

    .data-container {
      h3 {
        text-align: center;
        margin-bottom: 0px;
        svg {
          margin-right: 8px;
        }
      }
      .total-users {
        text-align: center;
        font-size: 30px;
        color: rgba(0, 0, 0, .85);
      }
    }

    .row {
      margin: auto;
    }
    .project-avatar {
      .ant-avatar-lg {
        width: 90px;
        height: 90px;
        border-radius: 10%;
      }
    }
    .title-container {
      display: inline-block;
      position: absolute;
      padding: 0 15px;
    }

    .second-container-project {
      .row {

        .col-sm-8 {
          padding-left: 0px;
        }

        .col-sm-4 {
          padding-right: 0px
        }
      }

      .file-table {
        margin-top: 15px;
      }
    }
  }
  .task-project-list {

    .demo-infinite-container {
      border: 1px solid #e8e8e8;
      border-radius: 4px;
      overflow: auto;
      padding: 8px 24px;
      max-height: 700px;

    }

    .col-4 {
      .col-md-3 {
        max-width: 300px;
      }
    }

    .demo-loading {
      position: absolute;
      bottom: -40px;
      left: 50%;
    }

    .col-sm-4 {
      max-width: 300px;
      min-width: 150px;
    }

    .ant-tabs-tab-active {
      background: #F0FFFF;
    }

    .ant-tabs-tab {
      margin: 0;
      padding: 6px 21px;
    }

    .filter-panel {
      display: inherit;
      margin-bottom: 30px;

      .anticon-search {
        left: auto;
        position: initial;
      }
    }

    .ant-tabs-content {
      border: none;
    }

  }

  .task {
    padding: 0 20px;
    .header-project-task {
      .ant-avatar-lg {
        width: 60px;
        height: 60px;
        line-height: 40px;
        border-radius: 50%;
        margin-bottom: 20px;
      }

      .project-title {
        display: inline-block;
        margin-left: 5px;
      }
    }

    .task-project-list {
      .col-sm-8 {
        flex: 2 0 74.666667%;
        max-width: 76.666667%;
      }
    }
  }

  .project-settings-user {
    i {
      color: red;
    }
    i:hover {
      color: #8B0000;
    }
  }

  .chat-list {
    .filter {
      margin-left: 10px;
      font-size: 18px;
      display: inline-block;
      cursor: pointer;
      i:hover {
        color: #40a9ff;
      }
    }
    .list-message-container {

      margin-top: 10px;

      .ant-list-item {
        padding: 5px 0;

        .ant-list-item-meta-title {
          margin: auto;
        }
      }

      .ant-list-item-meta-avatar {
        margin-right: 8px;
      }
      .ant-avatar {
        border-radius: initial;
        padding: initial;
        margin: 5px;
        width: 52px;
        height: 52px;
      }
      .ant-checkbox {
        margin-top: -23px;
      }

      .header-list {
        height: 25px;
        border: 1px solid #5a7f97;
        background: #7192a8;
        color: white;
      }
      .chat-message-title {
        margin-top: 5px;
        display: inline-block;
        margin-left: 5px;

        .title {
          vertical-align: bottom;
          .title-header {
            color: rgba(0, 0, 0, .85);
            display: inline-block;
            padding-right: 5px;

            a {
              vertical-align: bottom;
              color: rgba(0, 0, 0, .85);
            }
          }
        }

        .stuff {
          margin-top: 5px;
        }

        .last-your-message {
          display: block;
        }
      }
      .ant-list-item-content {
        display: initial;
      }
    }
  }

  .chat-page {
    .ant-list-item-content {
      display: initial;
      border: 1px solid #e8e8e8;
    }
    .ant-list-item {
      border: none;
      padding: auto;
    }

    .message-attachments {
      border: 1px solid #e8e8e8;
      //position: absolute;
      width: 398px;
      bottom: 0;
      margin: 5px;

      .attachment-item {
        display: inline-block;
        width: 132px;
        padding: 5px;
      }
    }

    .row {
      position: relative;
    }

    .col-0 {
      width: 161px;
      margin-left: 14px;
      text-align: center;
      position: relative;
    }

    .ant-avatar {
      width: 80px;
      height: 80px;
      border-radius: initial;
    }
    .ant-divider {
      height: initial;
    }

    .cell {
      max-width: 200px;
      border: 1px solid #e8e8e8;
      background-color: #f5f5f5;
      text-align: center;
      height: 79px;
      width: 108px;
      padding-top: 25px;
      vertical-align: center;

      i {
        font-size: 25px;
      }
    }

    .attachment-word {
      color: #1890ff;
    }

    .footer-cell {
      text-align: center;
    }

    .chat-header {
      height: 21px;
      background: #DCDCDC;
      cursor: pointer;

      .show-icon-touched {
        float: right;
        i {
          color: #40a9ff;
        }
      }
    }
    .fixed-message {
      .anticon-check-circle {
        color: green;
      }
    }
    .actual-message {
      display: inline-block;
      margin-bottom: 10px;
    }

    .active-message {
      background: #ccc;
    }
  }

  .form-add-message {
    margin-top: 10px;
  }

  .main-view {
    .setting-task-main {
      float: right;
      cursor: pointer;
      font-size: 15px;
      i:hover {
        color: #40a9ff;
      }
      .change-view-mode {
        font-size: 18px;
        svg {
          margin-right: 5px;
        }
        svg:hover {
          color: #40a9ff;
        }

        .default-view-mode {
          color: #40a9ff;
        }
      }
    }
    .table {
      .ant-avatar {
        border-radius: initial;
      }
    }
  }

  .timeline {

    .date-header {
      border-bottom: 1px solid #e8e8e8;
    }

    .content {
      margin-top: 10px;
      margin-left: auto;
      .actions {
        margin-left: 10px;

        .footer-timeline {
          margin-top: 5px;
          font-size: 12px;
        }
      }
    }

    .load-more {
      text-align: center;
    }
    .ant-avatar {
      width: 50px;
      height: 50px;
      border-radius: initial;
    }
    p {
      margin-bottom: 0;
    }
  }

  .task-list {

    .filter-panel {
      margin-top: 10px;

      .filter-buttons {
        padding-right: 10px;
      }

      .filter-active {
        padding-top: 10px;
      }

      .filter-search {
        padding: 0 15px;
        i {
          position: initial;
        }
      }

      a {
        font-size: 15px;
      }
    }
  }

  .tisk-list-schedule {
    padding: 10px 5px 0px;
    border-bottom: 1px solid #e8e8e8;

    h4 {
      margin-bottom: 0;
    }

    .ant-avatar {
      margin-bottom: 21px;
    }
    .ant-avatar-sm {
      width: 30px;
      height: 30px;
    }
  }

  //documents

  .documents {

    height: 887px;

    .p-block {
      min-height: 100%;
    }

    .row {
      min-height: 808px;
    }

    .col-sm-2 {
      max-width: 250px;
    }

    .folder-container {

      border: 1px solid #e8e8e8;
      margin-top: 10px;
      padding: 5px;
      background-color: #f5f5f5;
      min-height: 100%;

      .default {
        padding: 4px 0 0 5px;
        text-align: left;
        width: 100%;
        display: inline-block;
        line-height: 25px;

        .anticon {
          padding-right: 10px;
        }
        a {
          color: rgba(0, 0, 0, 0.65);
        }
        h4 {
          border-bottom: 0;
        }
      }

      .folder-default {
        padding: 4px 0 0 5px;
        text-align: left;
        width: 100%;
        display: inline-block;
        line-height: 25px;

        .anticon {
          padding-right: 10px;
        }
        a {
          color: rgba(0, 0, 0, 0.65);
        }
        h4 {
          border-bottom: 0;
        }

      }

      .folder-example {
        padding-left: 26px;
      }
      .choose {
        background: #e8e8e8;
      }
    }

    .content-container {
      border: 1px solid #e8e8e8;
      min-height: 100%;
      margin-top: 10px;
      padding: 15px;

      i {
        font-size: 50px;
      }

      .file {
        color: #1890FE;
      }

      .excel {
        color: #A52A2A;
      }

      .cell {
        height: 120px;
        max-width: 200px;
        border: 1px solid #e8e8e8;
        background-color: #f5f5f5;
        text-align: center;
        vertical-align: center;
        padding-top: 36px;
      }
      .footer-cell {
        text-align: center;
      }
    }

  }

  .row-group-modal-checkbox {

    .ant-form-item-control {
      line-height: initial !important;
    }
  }

}